$yellow: #ffd55d;
$red: #ff0000;
$blue: #33477c;

.bg-white {
    background-color: white;
    color: #35495e;
    // .title {
    //     color: #35495e;
    //     text-align: center;
    //     padding-bottom: 3rem;
    // }
}
.bg-navy {
    background-color: #35495e;
    color: white;
    // .title {
    //     color: white;
    //     text-align: center;
    //     padding-bottom: 3rem;
    // }
    @media screen and (min-width: 769px){
        .headline {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }
    }
}

@media screen and (max-width: 768px) {
    img.dt-only {
        display: none !important;
    }
    .hero-body {
        padding: 5rem 2rem;
    }
    .headline {
        padding: 1rem 1rem;
    }
    .name {
        text-align: center;
    }
    .portrait {
        width: 300px;
    }
    article {
        line-height: 175%;
    }
}
@media screen and (min-width: 769px) {
    img.mb-only {
        display: none !important;
    }
    .hero-body {
        padding: 10rem 10%;
    }
    .headline {
        padding: 1rem 3rem;
    }
    .portrait_frame {
        padding: 0rem 4rem 1rem 3rem;
    }
    .portrait {
        width: 300px;
    }
    .person {
        border-left: 3px solid white;
        padding: 0rem 3rem 0rem 2rem;
    }
    article {
        line-height: 200%;
    }
}

.centering {
    text-align: center;
    margin: 0 auto;
}
.subtitle {
    font-weight: bold;
    font-size: 150%;
    color: #7a7978;
}
.columns {
    padding: 3rem 0rem;
}

.portrait_frame {
    text-align: center;
    margin: 0 auto;
}

.headline {
    // font-family: Georgia, 'Times New Roman', Times, serif;
    @media screen and (min-width: 769px){
        border-top: 1px solid #35495e;
        border-bottom: 1px solid #35495e;
    }
}