body {
  font-feature-settings: "palt";
}

/* line 1, ../scss/style.scss */
.bg-white {
  background-color: white;
  color: #35495e;
}
/* line 4, ../scss/style.scss */
.bg-white .title {
  color: #35495e;
  text-align: center;
  padding-bottom: 3rem;
}
/* line 9, ../scss/style.scss */
.bg-white .headline {
  /* border-top: 1px solid #35495e;
  border-bottom: 1px solid #35495e; */
}

/* line 14, ../scss/style.scss */
.bg-navy {
  background-color: #35495e;
  color: white;
}
/* line 17, ../scss/style.scss */
.bg-navy .title {
  color: white;
  text-align: center;
  padding-bottom: 3rem;
}
/* line 22, ../scss/style.scss */
.bg-navy .headline {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 768px) {
  /* line 29, ../scss/style.scss */
  .hero-body {
    padding: 5rem 3rem;
  }

  /* line 32, ../scss/style.scss */
  .headline {
    padding: 1rem 1rem;
  }

  /* line 35, ../scss/style.scss */
  .name {
    text-align: center;
  }

  /* line 38, ../scss/style.scss */
  .portrait {
    width: 300px;
  }

  /* line 41, ../scss/style.scss */
  article {
    line-height: 200%;
  }
}
@media screen and (min-width: 769px) {
  /* line 46, ../scss/style.scss */
  .hero-body {
    padding: 10rem 10%;
  }

  /* line 49, ../scss/style.scss */
  .headline {
    padding: 1rem 3rem;
  }

  /* line 52, ../scss/style.scss */
  .portrait_frame {
    padding: 0rem 4rem 1rem 3rem;
  }

  /* line 55, ../scss/style.scss */
  .portrait {
    width: 300px;
  }

  /* line 58, ../scss/style.scss */
  .person {
    border-left: 3px solid white;
    padding: 0rem 3rem 0rem 2rem;
  }

  /* line 62, ../scss/style.scss */
  article {
    line-height: 250%;
  }
}
/* line 67, ../scss/style.scss */
#insight {
  margin: auto;
}

/* line 70, ../scss/style.scss */


/* line 73, ../scss/style.scss */
.centering {
  text-align: center;
  margin: 0 auto;
}

/* line 77, ../scss/style.scss */
.subtitle {
  font-weight: bold;
  font-size: 150%;
  color: #35495e;
}

/* line 82, ../scss/style.scss */
.columns {
  padding: 3rem 0rem;
}

/* line 87, ../scss/style.scss */
.portrait_frame {
  text-align: center;
  margin: 0 auto;
}
